<%= form_for(@line_itemagain) do |f| %>
  <% if @line_itemagain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@line_itemagain.errors.count, "error") %> prohibited this line_itemagain from being saved:</h2>

      <ul>
      <% @line_itemagain.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :gear_id %><br>
    <%= f.text_field :gear_id %>
  </div>
  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.text_field :student_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
