<p id="notice"><%= notice %></p>

<p>
  <strong>Gear:</strong>
  <%= @line_itemagain.gear %>
</p>

<p>
  <strong>Student:</strong>
  <%= @line_itemagain.student %>
</p>

<%= link_to 'Edit', edit_line_itemagain_path(@line_itemagain) %> |
<%= link_to 'Back', line_itemagains_path %>
