<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username, "ID" %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :other, "College" %><br>
    <%=f.select :other, Student::Colleges, 
                  prompt: "Select a College" %>
  </div>
  <div class="field">
    <%= f.label :date, "Date of Birth" %><br>
    <%= f.date_select :d %>
  </div>
  <div class="field">
    <%= f.label :mobile_number, "Phone Number" %><br>
    <%= f.text_field :e %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
