<!DOCTYPE html>
<html>
<head>
  <title>Kayak</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="banner">
  <%= image_tag("logo.png") %>
  <%= @page_title || "Kayak" %>
</div>
<%= content_tag :body, class: controller.controller_name do %>
<div id="columns">
  <div id="side">
    <ul>
	<li><a href="http://localhost:3000/">Home</a></li>
	<li><a href="http://localhost:3000/gears">Gear</a></li>
	<li><a href="http://localhost:3000/students">Students</a></li>
	<li><a href="http://www..../contact">Contact</a></li>
    </ul>
    <%= Time.now %>

  </div>
  <div id="main">
    <%= yield %>
  </div>
</div>

<% end %>


</body>
</html>
